{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for item in listing %}
    <img src="{{ item.image_url }}"style="position:relative;left:200px;width:250px;height:250px;">
    <h3 style="position:relative;left:500px;top:-250px">{{ item.title }} </h3>
    <div style="position:relative;left:500px;top:-250px">Price: S{{ item.start_bid }}</div>
    <div style="position:relative;left:500px;top:-250px">{{ item.description }}</div>
    
    {% endfor %}



{% endblock %}