{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ title }}</h2><br>
        <form action="" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
            {% if add_watch == True %}
            <input type="submit" value='Remove from Watchlist' style="position: relative;left: 20px;"></button>
            <input type="hidden" name="removewatch" value="yes">
            {% endif %}
            {% if add_watch == False %}
            <input type="submit" value='Add to Watchlist' style="position: relative;left: 20px;"></button>
            <input type="hidden" name="addwatch" value="yes">
            {% endif %}
        </form>

        <br>
        <img src="{{ img_url}}" style="position:relative;left:10px;width:250px;height:250px;"><br><br>
        <div>{{ description }}</div><br>
        <h1>Starting Bid: ${{ start_bid }}</h1><br>
        <form action="" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated and current_active == True %}

        <input type="number" name='bid'>
        <input type="submit" value='Place bid' value=bid><br>
        {% endif %}

        </form>
        <form action="" method="POST">
            {% csrf_token %}
            {% if user.is_authenticated %}
        {% if can_close == True and current_active == True %}
        <input type="submit" value='Close Listing'></button>
        <input type="hidden" name="close" value="yes">
        {% endif %}
        <br>
        {% if current_active == False %}
        <div style="color: red;">Listing is closed-{{ winner_name }} is the winner</div>
        <br>
        {% endif %}
    </form>

        <h2>Details</h2>
        <ul >
            <li>Category: {{ cat }}</li>
        </ul>
       
        {% endif %}
{% endif %}
{% endblock %}